<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Всички хотели</title>
</head>
<body>
<h1>Hotels</h1>
<table>
    <thead>
    <tr>
        <th>Име</th>
        <th>Бр. Стаи</th>
        <th>Бр. звезди</th>
        <th>Има ли СПА?</th>
        <th>Курорт - Тип</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hotel : ${hotels}">
        <td th:text="${hotel.name}"></td>
        <td th:text="${hotel.numberOfRooms}"></td>
        <td th:text="${hotel.numberOfStars}"></td>
        <td th:text="${hotel.hasSPA}"></td>
        <td th:if="${hotel.resort != null}" th:text="|${hotel.resort.name} - ${hotel.resort.type}}|"></td>
        <td th:if="${hotel.resort == null}">Няма курорт</td>
    </tr>
    </tbody>
</table>
<a href="/hotels/add">Add Hotel</a>
<footer th:insert="fragments/footer :: footer">
</footer>
</body>
</html>